
@{
    ViewBag.Title = "Remedy Console";
}

    <div class="container">
        <div><h3 style="color:orange;font:600">Tickets Resolution Options  </h3></div>
        <ul>
            <li style="padding:20px;">
                <input type="submit" class="btn btn-success btn-group-lg" value="Change Assets Status By LoadNo" />
            </li>
            <li style="padding:20px;">
                <input type="submit" class="btn btn-success btn-group-lg" value=" Change Load Status" />
            </li>

            <li style="padding:20px;">
                <input type="submit" class="btn btn-success btn-group-lg" value="Transfer All Assets From Existing Load To New Load" />
            </li>
            <li style="padding:20px;">
                <input type="submit" class="btn btn-success btn-group-lg" value="Change Load Inventory" />
            <li style="padding:20px;">
                <input type="submit" class="btn btn-success btn-group-lg" value="Change Job Status" />
            </li>
        </ul>
    </div>